# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore swp files
*.swp

# ignore cscope and ctags files
cscope*
tags

# ignore build binary
main

# go project ignore
go.sum

